Dockerfile
Containerfile
ContainerfileDev
compose.yaml
compose.yml
compose.dev.yml
compose.dev.yaml
docker-compose.yml
docker-compose.yaml
.dockerignore
node_modules
npm-debug.log
dist
.env
*.env
.env.dev
*.dev
.env.qa
*.qa
.git
.gitignore
